name = "c4-drawio-worker"
main = "src/worker.ts"
compatibility_date = "2024-12-01"
compatibility_flags = ["nodejs_compat"]

[dev]
port = 8787
local_protocol = "http"

[vars]
MAX_INPUT_SIZE = "102400"
CORS_ORIGIN = "*"

[env.production]
name = "c4-drawio"
